
nav {
    margin: 10px;
    padding: 10px;
    tab-size: 100px;
}

li {
    display: inline;
    margin: 40px;
    font-size: 30px;
  }

  a:visited {
    color: rgb(167, 180, 89);
      
  }

main {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

main > h1, p, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

body {
    background-image: url('img_girl.jpg');
  }body {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v627-aew-11-technologybackground_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1d2c8b7a4644da738e63e866b7210855');
}

li {
    display: inline;
    margin: 50px;
  }